name: custom_step_list
description: Create a visual-only list of steps that is fully customizable.
version: 1.0.0
homepage: https://github.com/Aidyl98/custom_step_list

environment:
  sdk: ">=2.17.6 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
